Grab 1 1
XXXXX
XXXXX
XXCII
XXXXX
XXXXX
Toss 1 1
XXXXX
XXXXX
XXCXI
XXXXX
XXXXX
Geronimo 1 2
XXXXX
XXXXX
XXCXX
XXIXX
XXIXX
Halo 2 3
XXXXX
XIIIX
XICIX
XIIIX
XXXXX
Orbital 1 4
XXIXX
XXXXX
IXCXI
XXXXX
XXIXX
Breakdance 1 2
XXXXX
XIXIX
XXCXX
XIXIX
XXXXX
Toss 1 1
XXXXX
XXXXX
XXCXI
XXXXX
XXXXX
Rainfall 2 3
XIXXI
XXXIX
XXCXI
IXXXX
XXIXI
Barrier 2 1
XXXXI
XXXXI
XXCXI
XXXXI
XXXXI
Leggy 2 2
XXXXX
XXXXX
XXCXX
XIXIX
IIXII
Smiler 3 2
XIXIX
XIXIX
IXCXI
IXIXI
XIXIX
I-95 2 1
XXIXI
XXIXI
XXCXI
XXIXI
XXIXI
Love 3 3
XIXIX
IXIXI
IXCXI
XIXIX
XXIXX
Nothing 3 5
XXXXX
XXXXX
XXCXX
XXXXX
XXXXX
X 2 2
IXXXI
XIXIX
XXCXX
XIXIX
IXXXI